#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo-list li {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 253, 253);
   

}

#todo-list span {
    flex: 1; 
}


    
    
#todo-list button {
    
    margin-left: 10px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #c28adf, #eaabdb);
}
#todo-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 35px;
    background-color: rgb(239, 224, 224);
    border-radius: 25px;
    overflow-y: auto; 
    max-height: 70vh; 
}


   
    


h1 {
    font-family: cursive;
}

#todo-input {
    width: 69%;
    padding: 10px;
    border: 2px solid #bbb;
    border-radius: 10px;
}

#submit {
    padding: 10px;
    border: 2px solid #bbb;
    border-radius: 10px;
    cursor: pointer;
}
